body {
  margin: 0;
  background-color: #000;
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.08em;
  line-height: 135%;
  color: #fff;
  text-transform: uppercase;
  position: fixed;
  bottom: 0%;
  left: 1.5%;
  z-index: 1;
  transform: translate(0%, 0%);
}

#goggle {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.6;
  z-index: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation-name: canvas;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  pointer-events: none;
}

.title {
  margin: 10%;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0.08em;
  line-height: 150%;
  color: #fff;
  text-transform: uppercase;
}

#goggle-opening {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 3;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation-name: goggle-opening;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  pointer-events: none;
}

@keyframes canvas {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes goggle-opening {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
